.table {
	thead{
		tr {
			position: relative;
			top: 0;
			left: 0;
		}
	}
	tbody {
		tr {
			td {
				display: table-cell;
				padding-left: 8px;
				&::before {
					display: none;
					padding: 0;
				}
				&:nth-of-type(1)::before {
					display: none;
				}
			}
		}
	}
}