<h3>Recent Matches</h3>
{{#each context}}
	<div>Hello</div>
{{/each}}

<div class="match h2h">
	<div class="player single a winner">
		<img class="img-thumbnail hidden-xs" src="img/default.jpg" width="56" height="56" alt="">
		<h3>Justin Hines</h3>
		<p>12 - 0</p>
	</div>
	<div class="activity ping-pong"></div>
	<div class="player single b">
		<img class="img-thumbnail hidden-xs" src="img/default.jpg" width="56" height="56" alt="">
		<h3>Jenna Hines</h3>
		<p>12 - 0</p>
	</div>
	<div class="clear"></div>
</div> <!-- match -->

<div class="match h2h">
	<div class="player single a winner">
		<img class="img-thumbnail hidden-xs" src="img/default.jpg" width="56" height="56" alt="">
		<h3>Justin Hines</h3>
		<p>12 - 0</p>
	</div>
	<div class="activity ping-pong"></div>
	<div class="player single b">
		<img class="img-thumbnail hidden-xs" src="img/default.jpg" width="56" height="56" alt="">
		<h3>Jenna Hines</h3>
		<p>12 - 0</p>
	</div>
	<div class="clear"></div>
</div> <!-- match -->

<div class="match h2h">
	<div class="player single a">
		<img class="img-thumbnail hidden-xs" src="img/default.jpg" width="56" height="56" alt="">
		<h3>Justin Hines</h3>
		<p>12 - 0</p>
	</div>
	<div class="activity darts"></div>
	<div class="player single b winner">
		<img class="img-thumbnail hidden-xs" src="img/default.jpg" width="56" height="56" alt="">
		<h3>Jenna Hines</h3>
		<p>12 - 0</p>
	</div>
	<div class="clear"></div>
</div> <!-- match -->
