<ul class="nav nav-tabs">
    <li class="active"><a href="/dashboard" data-toggle="tab">Dashboard</a></li>
    <li><a href="/players" data-toggle="tab">Players</a></li>
    <li><a href="/teams" data-toggle="tab">Teams</a></li>
    <li><a href="/activities" data-toggle="tab">Activities</a></li>
</ul>
<h2>Dashboard</h2>

<table class="table table-striped table-hover sortable">
	<caption>Top Players</caption>
	<thead>
		<tr>
			<th width="20">#</th>
			<th class="hidden-phone" width="56" class="hidden-phone"></th>
			<th>Name</th>
			<th>Activity</th>
			<th>Record</th>
			<th>Streak</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td class="hidden-phone"><img class="img-circle" src="img/default.jpg" width="56" height="56"></td>
			<td>Jenna</td>
			<td>Ping Pong</td>
			<td>3-1</td>
			<td>2 Wins</td>
		</tr>
		<tr>
			<td>2</td>
			<td class="hidden-phone"><img class="img-circle" src="img/default.jpg" width="56" height="56"></td>
			<td>Jenna</td>
			<td>Ping Pong</td>
			<td>3-1</td>
			<td>2 Wins</td>
		</tr>
		<tr>
			<td>3</td>
			<td class="hidden-phone"><img class="img-circle" src="img/default.jpg" width="56" height="56"></td>
			<td>Jenna</td>
			<td>Ping Pong</td>
			<td>3-1</td>
			<td>2 Wins</td>
		</tr>
	</tbody>
</table>

