<ul class="nav nav-tabs">
    <li class="active"><a href="/dashboard" data-toggle="tab">Dashboard</a></li>
    <li><a href="/players" data-toggle="tab">Players</a></li>
    <li><a href="/teams" data-toggle="tab">Teams</a></li>
    <li><a href="/activities" data-toggle="tab">Activities</a></li>
</ul>
<h2>Dashboard</h2>
