<h2>Dashboard</h2>

<h3>Top Players</h3>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th width="30">#</th>
			<th width="56" class="hidden-xs"></th>
			<th>Name</th>
			<th>Activity</th>
			<th>Record</th>
			<th>Streak</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td data-label="#">1</td>
			<td class="hidden-xs"><img class="img-circle" src="img/default.jpg" width="56" height="56"></td>
			<td data-label="Name">Jenna</td>
			<td data-label="Activity">Ping Pong</td>
			<td data-label="Record">3-1</td>
			<td data-label="Streak">2 Wins</td>
		</tr>
		<tr>
			<td data-label="#">1</td>
			<td class="hidden-xs"><img class="img-circle" src="img/default.jpg" width="56" height="56"></td>
			<td data-label="Name">Jenna</td>
			<td data-label="Activity">Ping Pong</td>
			<td data-label="Record">3-1</td>
			<td data-label="Streak">2 Wins</td>
		</tr>
		<tr>
			<td data-label="#">1</td>
			<td class="hidden-xs"><img class="img-circle" src="img/default.jpg" width="56" height="56"></td>
			<td data-label="Name">Jenna</td>
			<td data-label="Activity">Ping Pong</td>
			<td data-label="Record">3-1</td>
			<td data-label="Streak">2 Wins</td>
		</tr>
	</tbody>
</table>

<div id="recent-matches">
	<h3>Recent Matches</h3>
	<div class="match h2h">
		<div class="player single a winner">
			<img class="img-thumbnail hidden-xs" src="img/default.jpg" width="56" height="56" alt="">
			<h3>Justin Hines</h3>
			<p>12 - 0</p>
		</div>
		<div class="activity ping-pong"></div>
		<div class="player single b">
			<img class="img-thumbnail hidden-xs" src="img/default.jpg" width="56" height="56" alt="">
			<h3>Jenna Hines</h3>
			<p>12 - 0</p>
		</div>
		<div class="clear"></div>
	</div> <!-- match -->
	
	<div class="match h2h">
		<div class="player single a winner">
			<img class="img-thumbnail hidden-xs" src="img/default.jpg" width="56" height="56" alt="">
			<h3>Justin Hines</h3>
			<p>12 - 0</p>
		</div>
		<div class="activity ping-pong"></div>
		<div class="player single b">
			<img class="img-thumbnail hidden-xs" src="img/default.jpg" width="56" height="56" alt="">
			<h3>Jenna Hines</h3>
			<p>12 - 0</p>
		</div>
		<div class="clear"></div>
	</div> <!-- match -->
	
	<div class="match h2h">
		<div class="player single a">
			<img class="img-thumbnail hidden-xs" src="img/default.jpg" width="56" height="56" alt="">
			<h3>Justin Hines</h3>
			<p>12 - 0</p>
		</div>
		<div class="activity darts"></div>
		<div class="player single b winner">
			<img class="img-thumbnail hidden-xs" src="img/default.jpg" width="56" height="56" alt="">
			<h3>Jenna Hines</h3>
			<p>12 - 0</p>
		</div>
		<div class="clear"></div>
	</div> <!-- match -->
</div> <!-- #recent-matches -->
