<h1>Create a Match</h1>

<form role="form" id="create-match">
    <div class="row">
        <div class="col-sm-6">
            <input type="text" placeholder="Search..." class="search form-control">



            <label class="player col-md-3">
                <input type="checkbox" name="player" value="Justin Hines">
                <img src="../img/default.jpg" width="96" height="96">
                Justin Hines
            </label>

            <label class="player col-md-3">
                <input type="checkbox" name="player" value="Justin Hines">
                <img src="../img/default.jpg" width="96" height="96">
                Justin Hines
            </label>

            <label class="player col-md-3">
                <input type="checkbox" name="player" value="Justin Hines">
                <img src="../img/default.jpg" width="96" height="96">
                Justin Hines
            </label>

            <label class="player col-md-3">
                <input type="checkbox" name="player" value="Justin Hines">
                <img src="../img/default.jpg" width="96" height="96">
                Justin Hines
            </label>

            <label class="player col-md-3">
                <input type="checkbox" name="player" value="Justin Hines">
                <img src="../img/default.jpg" width="96" height="96">
                Justin Hines
            </label>
            <div class="clear"></div>
        </div><!-- col -->

        <div class="vs"></div>

        <div class="col-sm-6">
            <input type="text" placeholder="Search..." class="search form-control">
            <label class="player col-md-3">
                <input type="checkbox" name="player" value="Justin Hines">
                <img src="../img/default.jpg" width="96" height="96">
                Justin Hines
            </label>

            <label class="player col-md-3">
                <input type="checkbox" name="player" value="Justin Hines">
                <img src="../img/default.jpg" width="96" height="96">
                Justin Hines
            </label>

            <label class="player col-md-3">
                <input type="checkbox" name="player" value="Justin Hines">
                <img src="../img/default.jpg" width="96" height="96">
                Justin Hines
            </label>

            <label class="player col-md-3">
                <input type="checkbox" name="player" value="Justin Hines">
                <img src="../img/default.jpg" width="96" height="96">
                Justin Hines
            </label>

            <label class="player col-md-3">
                <input type="checkbox" name="player" value="Justin Hines">
                <img src="../img/default.jpg" width="96" height="96">
                Justin Hines
            </label>
            <div class="clear"></div>
        </div> <!-- col -->
    </div> <!-- row -->
</form>
