<!doctype html>
<html lang="en">

  <head>
    <meta charset='utf-8'/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rendr Example App</title>

    <link href="/stylesheets/smallest.min.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body class="">
    <div class="navbar navbar-default">
        <a class="admin" href="/admin">Admin</a>
    </div>

    <section class="branding">
        <h1>Office Name/Logo<h1>
    </section>

    <ul class="nav nav-tabs">
        <li class="active"><a href="/dashboard" data-toggle="tab">Dashboard</a></li>
        <li><a href="/players" data-toggle="tab">Players</a></li>
        <li><a href="/teams" data-toggle="tab">Teams</a></li>
        <li><a href="/activities" data-toggle="tab">Activities</a></li>
    </ul>
    <section id="content" class="container">
        {{{body}}}
    </section>

    <script src="/mergedAssets.js"></script>
    <script>
    (function() {
      var App = window.App = new (require('app/app'))({{json appData}});
      App.bootstrapData({{json bootstrappedData}});
      App.start();
    })();
    </script>

  </body>

</html>
