<!doctype html>
<html lang="en">

  <head>
    <meta charset='utf-8'/>
    <title>Rendr Example App</title>

    <link href="/stylesheets/smallest.min.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body class="">
	  <header class="app-header">
		  <div class="top">
			  <div class="container">
				  <nav class="util">
					  <ul class="nav nav-pills">
						  <li><a class="admin" href="/admin">Admin</a></li>
					  </ul>
				  </nav><!-- .util -->
			  </div><!-- .container -->
		  </div><!-- .top -->
		  <div class="container">
		      <section class="branding">
		          <h1 class="logo">Office Name/Logo</h1>
		      </section><!-- .branding -->
		  </div><!-- .container -->
          {{view "shared/navigation"}}
	  </header><!-- .app-header -->

    <section id="content" class="container">
        {{{body}}}
    </section>

    <script src="/mergedAssets.js"></script>
	<script type="text/javascript" charset="utf-8">
		$('input[type=checkbox]').on('change', function(){
			if ($(this).is(":checked")) {
				$(this).parent().addClass('selected');
			} else {
				$(this).parent().removeClass('selected');
			}
		});
	</script>
    <script>
    (function() {
      var App = window.App = new (require('app/app'))({{json appData}});
      App.bootstrapData({{json bootstrappedData}});
      App.start();
    })();
    </script>

  </body>

</html>
